#graph{
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 0;
    right: 0;
    z-index: 800;
}

button:active{
    color: white;
    background-color: black;
}

#color_index{
    position: absolute;
    z-index: 10;
}


.color_index{
    position: absolute;
    z-index: 10;
    top: 30px;
    right: 20px;
}

.color_labels .number_row{
    width: 20px;
    text-align: center;
}

.color_labels .color_row{
    width: 40px;
}

dialog {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 0.6rem;
    box-shadow: 1px 1px 2px #333;
    position: relative;
    z-index: 1000;
}

dialog::backdrop {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

dialog h2 {
    padding: 10px;
    background-color: black;
    margin: 0;
    color: white;
}

dialog div {
    color: #424242;
    padding: 10px;
}
 
dialog input {
    position: inherit;
}

.color_labels .generation_param_row{
    width: 140px;
    font-size: 70%;
}

.color_labels .node_size_param_row{
    width: 80px;
}

#name-plate{
    position: absolute;
    z-index: 1000;
    font-size: 25px;
    background-color: #ffe4c4;
}

.hidden_show {
    visibility: hidden;
}
