#graph{
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 0;
    right: 0;
    z-index: 800;
}

button:active{
    color: white;
    background-color: black;
}

#color_index{
    position: absolute;
    z-index: 10;
}


.color_index{
    position: absolute;
    z-index: 10;
    top: 30px;
    right: 20px;
}

.color_labels .number_row{
    width: 20px;
    text-align: center;
}

.color_labels .color_row{
    width: 40px;
}

.color_labels .generation_param_row{
    width: 140px;
    font-size: 100%;
}

.color_labels .node_size_param_row{
    width: 80px;
}

#name-plate{
    position: absolute;
    z-index: 1000;
    font-size: 25px;
    background-color: #ffe4c4;
}

.hidden_show {
    visibility: hidden;
}

#reset {
    position: absolute;
}

.help_page {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 850px;
}

.dialog{
    display: none;
    position: fixed;
    top: 30%;
    height: auto;
    overflow: hidden;
    z-index: 9999;
    background-color: #ffffff;
}

.dialog h2 {
    padding: 10px;
    background-color: black;
    margin: 0;
    color: #ffffff;
}

.help_dialog {
    height: 600px;
    width: 950px;
}

.help_dialog img{
    height: 450px;
    width: 800px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.help_dialog .close_dialog {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 55px;
    width: 50px;
    font-size: 40px;
}

.help_dialog .next_dialog{
    position: absolute;
    right: 10px;
    bottom: 50px;
    height: 30px;
    width: 60px;
    font-size: 20px;
}

.help_dialog .prev_dialog{
    position: absolute;
    left: 10px;
    bottom: 50px;
    height: 30px;
    width: 60px;
    font-size: 20px;
}

#modal_window{
    display: none;
    background-color: #000000;
    opacity: 0.3;
    z-index: 9000;
}

#help_page2 {
    display: none;
}


#help_page3 {
    display: none;
}

#help_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 70px;
}

#help_page_prev_btn {
    left: 10px;
}